<footer>
    <div class="container-fluid bg-white mt-5 border-top f-info">
      <div class="row">
        <div class="col-lg-4 col-md-4 p-4">
          <h3 class="h-font fs-3 mb-2 website-logoFoot">WanderStay</h3>
          <h5 class="fs-6 mb-2">Book a dream, Stay in Luxary</h5>
          <p>
            Welcome to WanderStay Haven, your go-to for unique stays worldwide.
            Find your perfect getaway and make travel unforgettable. Discover,
            book, and explore with ease. Start your adventure today!
          </p>
        </div>
  
        <div class="col-lg-4 col-md-4 p-4 f-info-socials">
          <h5 class="mb-3">Follow us</h5>
          <a href="#" class="d-inline-block text-dark text-decoration-none mb-2">
            <i class="fa-brands fa-square-x-twitter"></i> Twitter </a
          ><br />
          <a href="#" class="d-inline-block text-dark text-decoration-none mb-2">
            <i class="fa-brands fa-square-facebook"></i> facebook </a
          ><br />
          <a href="#" class="d-inline-block text-dark text-decoration-none">
            <i class="fa-brands fa-square-instagram"></i> instagram </a
          ><br />
        </div>
  
        <div class="col-lg-4 col-md-4 p-4 f-info-links">
            <h5 class="mb-3"><b>&copy; 2024 WanderStay</b></h5>
            <a href="#">Privacy</a>
            <br>
            <a href="#">Terms</a>
            <br>
            <a href="#">Company details</a>
        </div>
      </div>
    </div>
  </footer>
  